<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Amazon Classic Wrist Watch - Review Product</title>
  <meta property="og:image" content="assets/img/product/shop_details01.jpg">
  <meta name="description" content="Amazon product review">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/css/mCustomScrollbar.min.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/default.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css">
  <link rel="stylesheet" href="assets/css/comment.css">
  <style>
    #review {
      color: white;
    }

    #review:hover {
      color: white;
    }
  </style>
</head>

<body>

  <!-- Preloader -->
  <div id="preloader">
    <div id="preloader-status">
      <div class="preloader-position loader"> <span></span> </div>
    </div>
  </div>
  <!-- Preloader end -->

  <!-- Scroll-top -->
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
  </button>
  <!-- Scroll-top-end-->

  <!-- header-area -->
  <header>


  </header>
  <!-- header-area-end -->


  <!-- main-area -->
  <main>
    <!-- breadcrumb-area -->
    <div class="breadcrumb-area-two">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="breadcrumb-wrap">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">shop single</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- shop-details-area -->
    <div class="shop-details-area pt-80 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6">
            <div class="shop-details-img-wrap">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane show active" id="nav-item-one" role="tabpanel" aria-labelledby="nav-item-one-tab">
                  <div class="shop-details-img">
                    <img src="assets/img/product/shop_details01.jpg" alt="img">
                  </div>
                </div>
                <div class="tab-pane" id="nav-item-two" role="tabpanel" aria-labelledby="nav-item-two-tab">
                  <div class="shop-details-img">
                    <img src="assets/img/product/shop_details02.jpg" alt="img">
                  </div>
                </div>
                <div class="tab-pane" id="nav-item-three" role="tabpanel" aria-labelledby="nav-item-three-tab">
                  <div class="shop-details-img">
                    <img src="assets/img/product/shop_details03.jpg" alt="img">
                  </div>
                </div>
                <div class="tab-pane" id="nav-item-four" role="tabpanel" aria-labelledby="nav-item-four-tab">
                  <div class="shop-details-img">
                    <img src="assets/img/product/shop_details04.jpg" alt="img">
                  </div>
                </div>
              </div>
            </div>
            <div class="shop-details-nav-wrap">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-item-one-tab" data-bs-toggle="tab" data-bs-target="#nav-item-one" type="button" role="tab" aria-controls="nav-item-one" aria-selected="true">
                    <img src="assets/img/product/shop_nav_img01.jpg" alt="img">
                  </button>
                  <button class="nav-link" id="nav-item-two-tab" data-bs-toggle="tab" data-bs-target="#nav-item-two" type="button" role="tab" aria-controls="nav-item-two" aria-selected="false">
                    <img src="assets/img/product/shop_nav_img02.jpg" alt="img">
                  </button>
                  <button class="nav-link" id="nav-item-three-tab" data-bs-toggle="tab" data-bs-target="#nav-item-three" type="button" role="tab" aria-controls="nav-item-three" aria-selected="false">
                    <img src="assets/img/product/shop_nav_img03.jpg" alt="img">
                  </button>
                  <button class="nav-link" id="nav-item-four-tab" data-bs-toggle="tab" data-bs-target="#nav-item-four" type="button" role="tab" aria-controls="nav-item-four" aria-selected="false">
                    <img src="assets/img/product/shop_nav_img04.jpg" alt="img">
                  </button>
                </div>
              </nav>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-8">
            <div class="shop-details-content">
              <span><i class="fa-solid fa-check"></i>In Stock</span>
              <h2 class="title">Smartwatch BT Phone Call 1.3inch</h2>
              <ul>
                <li data-background="assets/img/images/coupon_bg01.png">
                  $29.30 Coupons For You
                </li>
                <li data-background="assets/img/images/coupon_bg02.png">
                  $4.25 off.OLLESHOP7
                </li>
                <li>
                  <a href="#">Get Coupons</a>
                </li>
              </ul>

              <p>The domestic dog is a doiated dendant of the wolf. The dog derived from an ancient, extinct wolf, and the modern grey wolf is nearest.</p>
              <div class="shop-details-color">
                <span>Color :</span>
                <ul>
                  <li class="active"></li>
                  <li class="black"></li>
                  <li class="green"></li>
                  <li class="blue"></li>
                </ul>
              </div>
              <div class="shop-details-quantity">
                <!-- <span>Quantity :</span>
                                    <div class="cart-plus-minus">
                                        <input type="text" value="1">
                                    </div> -->
                <a href="/login" class="wishlist-btn"><i class="fa-solid fa-cart-arrow-down"></i> Review product</a>
                <!-- <a href="shop-details.html" class="cart-btn">Buy now</a> -->
              </div>
              <!-- <div class="shop-details-Wishlist">
                                    <ul>
                                        <li><a href="#"><i class="fa-regular fa-heart"></i>Add to Wishlist</a></li>
                                        <li><a href="#"><i class="fa-solid fa-chart-column"></i>Compare</a></li>
                                    </ul>
                                </div> -->
              <div class="shop-details-bottom">
                <ul>
                  <li class="sd-category">
                    <span class="title">Categories :</span>
                    <a href="shop.html">Hand Watch,</a>
                    <a href="shop.html">Smartwatch,</a>
                    <a href="shop.html">Phone</a>
                  </li>
                  <li class="sd-sku">
                    <span class="title">SKU :</span>
                    <a href="shop.html">H#21546</a>
                  </li>
                  <li class="sd-share">
                    <span class="title">Share Now :</span>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-12 col-md-4">

          </div>
        </div>
      </div>
    </div>
    <!-- shop-details-area-end -->

    <!-- best-sell-product-area -->
    <section class="best-sell-product-area pt-85 pb-10">

      <div class="container">
        <div class="col-md-12" id="fbcomment">
          <div class="header_comment">
            <div class="row">
              <div class="col-md-6 text-left">
                <span class="count_comment">264235 Comments</span>
              </div>
              <div class="col-md-6 text-right">
                <span class="sort_title">Sort by</span>
                <select class="sort_by">
                  <option>Top</option>
                  <option>Newest</option>
                  <option>Oldest</option>
                </select>
              </div>
            </div>
          </div>

          <div class="body_comment">

            <div class="row">
              <ul id="list_comment" class="col-md-12">
                <!-- Start List Comment 1 -->
                <!-- Start List Comment 2 -->
                <li class="box_result row">
                  <div class="avatar_comment col-md-1">
                    <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
                  </div>
                  <div class="result_comment col-md-11">
                    <h4>Gung Wah</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                    <div class="tools_comment">
                      <a class="like" href="#">Like</a>
                      <span aria-hidden="true"> · </span>
                      <a class="replay" href="#">Reply</a>
                      <span aria-hidden="true"> · </span>
                      <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
                      <span aria-hidden="true"> · </span>
                      <span>26m</span>
                    </div>
                    <ul class="child_replay"></ul>
                  </div>
                </li>

                <!-- Start List Comment 2 -->
                <li class="box_result row">
                  <div class="avatar_comment col-md-1">
                    <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
                  </div>
                  <div class="result_comment col-md-11">
                    <h4>Gung Wah</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                    <div class="tools_comment">
                      <a class="like" href="#">Like</a>
                      <span aria-hidden="true"> · </span>
                      <a class="replay" href="#">Reply</a>
                      <span aria-hidden="true"> · </span>
                      <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
                      <span aria-hidden="true"> · </span>
                      <span>26m</span>
                    </div>
                    <ul class="child_replay"></ul>
                  </div>
                </li>

                <!-- Start List Comment 2 -->
                <li class="box_result row">
                  <div class="avatar_comment col-md-1">
                    <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
                  </div>
                  <div class="result_comment col-md-11">
                    <h4>Gung Wah</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                    <div class="tools_comment">
                      <a class="like" href="#">Like</a>
                      <span aria-hidden="true"> · </span>
                      <a class="replay" href="#">Reply</a>
                      <span aria-hidden="true"> · </span>
                      <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
                      <span aria-hidden="true"> · </span>
                      <span>26m</span>
                    </div>
                    <ul class="child_replay"></ul>
                  </div>
                </li>
              </ul>
              <a id="review" href="/login"> <button class="show_more" type="button">Review product</button></a>
              <button class="show_less" type="button" style="display:none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...</button>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- best-sell-product-area-end -->

    <!-- product-details-area -->
    <section class="product-details-area pb-80">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="product-desc-wrap">
              <div class="product-desc-top">
                <div class="product-desc-nav">
                  <ul class="nav nav-tabs" id="productTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Specifications</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="specifications-tab" data-bs-toggle="tab" data-bs-target="#specifications" type="button" role="tab" aria-controls="specifications" aria-selected="false">costumer reviews
                        (0)</button>
                    </li>
                  </ul>
                </div>
                <div class="product-report">
                  <a href="contact.html">Report Item</a>
                </div>
              </div>
              <div class="tab-content" id="productTabContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                  <div class="product-desc-content">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                      suffered alteration in some form,by injected humour, or rando wmised words which don't look
                      even the slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                      be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                      genereators on the Internet tend to repeat predefined chunks as necessary, making this the
                      first true generator on the Internet. It uses a dictionary of over 200 Latdin words,
                      combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                      reasonable suffered alteration in some form.</p>
                    <div class="product-quick-details mb-25">
                      <h4 class="title">Quick Details</h4>
                      <div class="product-details-list-wrap">
                        <div class="row">
                          <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product-details-list">
                              <ul>
                                <li>Private Mold:</li>
                                <li>Model Number:</li>
                                <li>Display Type:</li>
                                <li>Screen:</li>
                                <li>Feature:</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="product-details-list">
                              <ul>
                                <li>Yes</li>
                                <li>uxt</li>
                                <li>Max</li>
                                <li>5"</li>
                                <li>MP3 Playback</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product-details-list">
                              <ul>
                                <li>Brand Name:</li>
                                <li>Place of Origin:</li>
                                <li>Screen Resolution:</li>
                                <li>Display Color:</li>
                                <li>Operation System:</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product-details-list">
                              <ul>
                                <li>SOVOGUE</li>
                                <li>Guangdong, China</li>
                                <li>240*320</li>
                                <li>Color</li>
                                <li>ANDROID, IOS</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>Need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem
                      Ipsum genereators on the Internet tend to repeat predefined chunks as necessary, making this
                      the first true generator on the Internet. It uses a dictionary of over 200 Latdin words,
                      combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                      reasonable tend suffered alteration in some form reators on the Internet tend to repeat .
                    </p>
                    <div class="product-feature-wrap mb-30">
                      <div class="row">
                        <div class="col-xl-7 col-lg-6">
                          <div class="product-details-img">
                            <img src="assets/img/images/product_details_img.jpg" alt="img">
                          </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                          <div class="product-feature">
                            <h4 class="title">Features :</h4>
                            <p>Need to be sure there isn't anything embarrassing hidden in the middle of
                              text. All the Lorem Ipsum
                              genereators on the Internet tend to repeat predefined chunks assing hidden
                            </p>
                            <ul class="product-feature-list">
                              <li>Windows Mobile® 6.1 Professional Edition</li>
                              <li>The device features a LED display.</li>
                              <li>Pros:really great keyboard, good trackpad, alcantara</li>
                              <li>802.11b/g with WPA, WPA2, and 801.1x authentication</li>
                              <li>320x320 transflective colour TFT touchscreen</li>
                              <li>HSDPA/UMTS/EDGE/GPRS/GSM radio</li>
                              <li>Tri-band UMTS — 850MHz, 1900MHz, 2100MHz</li>
                              <li>2.0 megapixel camera, up to 8x digital zoom and video capture</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                      suffered alteration in some form, by injected humour, or rando wmised words which don't look
                      even the slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                      be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                      genereators on the Internet tend to repeat predefined chunks as necessary, making this the
                      first true generator on the Internet. It uses a dictionary of over 200 Latdin words,
                      combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                      reasonable suffered alteration in some form.</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                  <div class="product-desc-content">
                    <div class="product-quick-details">
                      <h4 class="title">Additional Information</h4>
                      <div class="product-details-list-wrap">
                        <div class="row">
                          <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product-details-list">
                              <ul>
                                <li>Private Mold:</li>
                                <li>Model Number:</li>
                                <li>Display Type:</li>
                                <li>Screen:</li>
                                <li>Feature:</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="product-details-list">
                              <ul>
                                <li>Yes</li>
                                <li>uxt</li>
                                <li>Max</li>
                                <li>5"</li>
                                <li>MP3 Playback</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product-details-list">
                              <ul>
                                <li>Brand Name:</li>
                                <li>Place of Origin:</li>
                                <li>Screen Resolution:</li>
                                <li>Display Color:</li>
                                <li>Operation System:</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product-details-list">
                              <ul>
                                <li>SOVOGUE</li>
                                <li>Guangdong, China</li>
                                <li>240*320</li>
                                <li>Color</li>
                                <li>ANDROID, IOS</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="specifications" role="tabpanel" aria-labelledby="specifications-tab">
                  <div class="product-desc-content">
                    <div class="product-desc-review">
                      <div class="review-title mb-20">
                        <h4 class="title">Customer Reviews (0)</h4>
                      </div>
                      <div class="left-rc">
                        <p>No reviews yet</p>
                      </div>
                      <div class="right-rc">
                        <a href="#">Write a review</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- product-details-area-end -->


    <!-- popular-product-area-end -->


    <!-- newsletter-area-end -->
  </main>
  <!-- main-area-end -->

  <!-- footer-area -->
  <footer>
    <div class="footer-area">

      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="copyright-text">
                <p>Copyright ©2022 Olle All Rights Reserved</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="cart-img text-end">
                <img src="assets/img/images/cart_img.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-area-end -->



  <!-- JS here -->
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="assets/js/jquery.countdown.min.js"></script>
  <script src="assets/js/jquery.mCustomScrollbar.min.js"></script>
  <script src="assets/js/jquery-ui.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>